.apigee-edge-developer-app-analytics {
>div {
    >div {
      display: block
    }
  }
  .form-item-metrics, .form-item-quick-date-picker{
    margin-right:0
  }
  .form-item-quick-date-picker,
  .form-item-until-time,
  .form-item-until-date,
  .form-item-since-time,
  .form-item-since-date,
  .form-item-metrics{
    width: 30%;
    float: left;
  }
  .form-item-quick-date-picker,
  .form-item-until-time,
  .form-item-since-time,
  .form-item-since-date{
    margin-left: 42px;
  }
}

.apigee-entity--app {
  .field--name-displayname {
    @include banner-para;
    margin-bottom: 10px;
  }

  .field--name-lastmodifiedat {
    @include banner-link-responsive;
    margin-bottom: 10px;
  }

  .field--name-description {
    @include card-text;
  }

  .field--name-callbackurl {
    .field__label {
      display: block;
      margin-top: 20px;
      margin-bottom: 17px;
      @include footer-link;
      font-size: $basic-font-size;
    }
  }

  .api-product-name,
  label {
    display: block;
    margin-top: 40px;
    margin-bottom: 17px;
    @include footer-link;
    font-size: $basic-font-size;
  }

  .dropbutton-wrapper {
    display: none;
  }

  fieldset {
    margin-top: 20px;
  }

  .secret__toggle {
    img {
      vertical-align: text-bottom;
      padding-left: 100px;
    }
  }

  .secret .secret__value,
  .secret .secret__toggle__hide {
    max-width: unset;
  }

  .secret {
    background: $secret-bg;
    display: inline-block;
    padding: 13px 27px;
    line-height: 13px;
  }

  .wrapper--status.indicator-status-ok {
    background: none;
    color: $basicgreen;
  }

  .wrapper--status {
    padding: 0;
  }

  .item-property {
    font-size: 85%;
  }
}

body.path-user {
  .field--label-above {
    .field__item {
      padding: 0;
      background: none;

      a {
        font-size: 85%;
      }
    }
  }
}
