.content-cards-centered {
  padding-top: 1px;

  .card {
    width: 205px;
    height: 200px;
    margin: 0 auto;

    .card-body {
      padding: 0;
    }

    .card-title {
      padding: 0;
      font-size: 18px;
      margin-bottom: 10px;
    }

    img {
      margin-top: 40px;
      width: 42px;
      height: 42px;
      margin-bottom: 12px;
    }
  }
}

.use-case {
  img {
    height: 82px;
    width: 82px;
    margin-top: 50px;
    margin-bottom: 34px;
  }
}

.content-list {
  .text-lg-right {
    padding-left: 10%;
  }

  .image-banner-left {
    img {
      margin-top: 125px;
      margin-bottom: 120px;
    }

  }

  .content-list-date {
    @include card-text;
  }

  .content-list-title {
    @include blog-title;
  }

  .content-list-text {
    @include content-list-text-heading;
    margin-top: 14px;
  }

  .top-trend {
    @include card-text;
    text-align: right;
    background: url('../images/trending_up.png') right no-repeat;
    padding-right: 35px;
    margin-right: 25px;
  }
}

.content-list-footer {
  a {
    margin-top: 50px;
    margin-bottom: 66px;
    @include explore-all-link;

    &:after {
      content: "";
      width: 39px;
      height: 16px;
      background: url(../images/right-arrow.png) no-repeat 3px 4px;
      background-size: 24px;
      padding: 0px 14px;
      margin-left: 12px;
    }
  }
}
