#block-actioncontentblock-2 {
    p {
      margin-bottom: 118px;
    }
  }
  
  .block-action-content-block {
  
    .heading-img {
      text-align: center;
  
      .subscribe-title {
        @include subscribe-title;
        margin-top: 15px;
        margin-bottom: 35px;
        text-transform: uppercase;
      }
    }
  
    p {
      @include filter-label;
  
    }
  
    label {
      @include explore-all-link;
    }
  
    .form-control {
      border-top: 0;
      border-radius: 0;
      border-left: 0;
      border-right: 0;
  
      &:focus {
        box-shadow: none;
        border-color: inherit;
      }
    }
  }
  
  #block-actioncontentblock {
    .image-holder {
      background: url('../images/envelopeicon.png');
      width: 78px;
      height: 53px;
      display: inline-block;
    }
  }
  
  #block-actioncontentblock-2 {
    .image-holder {
      background: url('../images/supporticon.png');
      width: 58px;
      height: 54px;
      display: inline-block;
    }
  }
  