.view {
  &.view-services-document-list {
    ul {
      padding-left: 0rem;

      li {
        cursor: default;
        margin: 0.2rem .1em;
      }
    }

    &.view-taxonomy-term {
      .container {
        padding-left: 0px;
      }
    }
  }

  /* View Footer */
  .view-footer {
    .explore-all-domain {
      a {
        @include explore-all-link;

        &:hover {
          text-decoration: none;
        }
      }

      margin-top: 50px;
      margin-bottom: 66px;

      &:after {
        content: "";
        width: 39px;
        height: 16px;
        background: url(../images/right-arrow.png) no-repeat 3px 7px;
        background-size: 24px;
        padding: 0px 14px;
        margin-left: 12px;
      }
    }
  }

  /* View exposed form */
  .bef-exposed-form {
    .form-select {
      &:after {
        content: $fa_angle_down;
        font-family: $fa;
        font-weight: 900;
        padding: 0.5rem 1rem;
      }
    }

    .bef-links {
      ul {
        display: flex;

        li {
          display: inline-block;
          padding: 0rem .75rem;
          flex: auto;
        }
      }
    }
  }
}

.view-use-cases {
  .view-header {
    h3 {
      @include heading;
    }
  }

  .pager {
    margin-bottom: 100px;
    margin-top: 60px;

    li {
      a {
        @include footer-link;
        text-transform: uppercase;

        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}

.layout--twocol-section--25-75 {
  .layout__region--first {
    .filter {
      border-bottom: none;
      @include filters-heading;
      text-transform: uppercase;
      margin-bottom: 40px;
      text-align: left;
    }
  }
  
  .bef-exposed-form {
    
    #edit-sort-bef-combine--2--wrapper {
      legend {
        span {
          &:before {
            content: "";
            width: 24px;
            height: 18px;
            background: url(../images/sort-icon.png) no-repeat 0px 4px;
            padding: 0rem 20px;
          }

          border-bottom: none;
          @include filters-heading;
          text-transform: uppercase;
          margin-bottom: 40px;
        }
      }
    }

   

    .row {
      details {
        summary {
          @include filters-service-heading;
          margin-bottom: 25px;
          display: block;
        }
      }

      .form-check {
        padding-left: 0;
        margin-bottom: 14px;

        .form-check-input {
          float: right;
        }

        label {
          @include filter-label;
        }
      }
    }
  }
}


.view-manage-access {
  .js-form-wrapper {
    display: none;
  }

  .js-form-type-checkbox {
    .form-check-label {
      display: none;
    }
  }
}
