{#
/**
 * @file rapidoc-ui-field-item.html.twig
 * Default theme implementation for Swagger UI field items.
 *
 * Available variables:
 * - field_name: The name of the field.
 * - delta: The delta of the field item.
 *
 * @ingroup themeable
 */
#}
<div id="rapidoc-ui-{{ field_name }}-{{ delta }}">
    <script type="module" src="https://unpkg.com/rapidoc/dist/rapidoc-min.js" integrity="sha384-MDSxszbIJtK/9YakZ3tvi2bK6LaaHnB8+Hd2/fCfih0tLa+Mqlv6HO0bZdrICjjG">
    </script>
    <rapi-doc spec-url={{ file_url }} render-style="read">
    </rapi-doc>
</div>

